:root {
  --shopping-list-item-min-height: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.mat-mdc-menu-content {
  padding: 0 !important;

  button {
    min-height: 38px;
  }
}
