// Define the theme object.
$_primary: mat.$cyan-palette;
$_tertiary: mat.$azure-palette;

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    density: (
      scale: -2,
    ),
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    density: (
      scale: -2,
    ),
  )
);
