@use "@angular/material" as mat;
@import "variables";
@import "mixins";

.spacer {
  flex: 1;
}

mat-toolbar {
  background: mat.get-theme-color($light-theme, secondary, 60);

  @include if-dark-theme {
    background: mat.get-theme-color($dark-theme, secondary, 20);
  }
}
