@use "@angular/material" as mat;
@import "variables";
@import "mixins";

:host {
  &.no-quantity {
    & .item {
      & > * {
        opacity: 0.7;
      }

      &-label {
        text-decoration-line: line-through;
      }
    }
  }

  & .item {
    border-bottom: 1px solid;
    border-color: mat.get-theme-color($light-theme, secondary, 60);

    @include if-dark-theme {
      border-color: mat.get-theme-color($dark-theme, secondary, 20);
    }
  }

  &:last-child .item {
    border: none;
  }

  &.cdk-drag-preview {
    box-sizing: border-box;
    background-color: mat.get-theme-color($light-theme, secondary, 95);
    overflow: hidden;

    @include if-dark-theme {
      $color: mat.get-theme-color($dark-theme, secondary, 10);
      background-color: $color;
      border-color: $color;
    }

    app-horizontal-pan-action-left,
    app-horizontal-pan-action-right {
      visibility: hidden;
    }
    & .item {
      &-context {
        visibility: hidden;
      }
    }
  }
}

app-horizontal-pan-action-left,
app-horizontal-pan-action-right {
  opacity: 0.7;
  transition: opacity 0.2s;

  &.triggerable {
    opacity: 1;
  }
}
app-horizontal-pan-action-left {
  background-color: rgb(133, 214, 112);

  @include if-dark-theme {
    background-color: rgb(90, 159, 73);
  }
}

app-horizontal-pan-action-right {
  background-color: #f04a55;

  @include if-dark-theme {
    background-color: #991e26;
  }
}

.item {
  display: flex;
  align-items: stretch;
  gap: 4px;

  &-handle {
    cursor: grab;
    z-index: 2;
    font-size: 14px;
    padding: 4px 4px 4px 10px;
    display: flex;
    align-items: center;
  }

  &-content {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: var(--shopping-list-item-min-height);
    padding: 4px 10px 4px 0;
    box-sizing: border-box;
    gap: 4px;
    font-size: 14px;
  }

  &-quantity {
    font-size: 12px;
  }
  &-edit,
  &-label {
    flex: 1;
  }

  &-actions {
    & > button {
      line-height: 16px;
      font-size: 16px;
      --mdc-icon-button-state-layer-size: 24px;
      display: inline-flex;

      mat-icon {
        top: 4px;
      }
    }

    &-remove {
      color: mat.get-theme-color($light-theme, error);

      @include if-dark-theme {
        color: mat.get-theme-color($dark-theme, error);
      }
    }
  }
}
