.category-list {
  border: solid 1px green;
  min-height: var(--shopping-list-item-min-height);

  &.cdk-drop-list-dragging .cdx-drag:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border: 2px solid blue;
}

.cdk-drag-placeholder {
  opacity: 0.4;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
