<mat-accordion>
  <mat-expansion-panel
    expanded
    hideToggle
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header appLongPress (longPress)="openMenu()">
      <mat-panel-title>
        <mat-icon
          class="open-state-indicator"
          [style.transform]="panelOpenState() ? 'rotate(90deg)' : ''"
          >keyboard_arrow_right</mat-icon
        >
        <span>{{ category.label }}</span>
        <span [style.flex]="1"></span>
        <div>
          <button
            mat-icon-button
            aria-label="Option de la catégorie"
            class="action"
            (click)="$event.stopPropagation(); add()"
          >
            <mat-icon inline>add</mat-icon>
          </button>

          @if (!isNullUUID()) {
          <button
            mat-icon-button
            aria-label="Ajouter un élément"
            [matMenuTriggerFor]="contextMenu"
            class="action"
            (click)="$event.stopPropagation()"
          >
            <mat-icon inline>settings</mat-icon>
          </button>
          <mat-menu
            #contextMenu="matMenu"
            class="context-menu"
            xPosition="before"
            yPosition="below"
          >
            <button mat-menu-item (click)="rename()">
              <mat-icon>label</mat-icon>
              Renommer
            </button>
            <button mat-menu-item (click)="remove()">
              <mat-icon>delete</mat-icon>
              Supprimer
            </button>
          </mat-menu>
          }
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div
      cdkDropList
      #dropList="cdkDropList"
      [cdkDropListData]="category.itemsIds"
      [cdkDropListConnectedTo]="categoriesLists"
      class="category-list"
      [cdkDropListSortingDisabled]="isNullUUID()"
      (cdkDropListEntered)="hoveringDropList.set(true)"
      (cdkDropListExited)="hoveringDropList.set(false)"
      (cdkDropListDropped)="drop($event)"
    >
      @if (category.itemsIds.length > 0 || hoveringDropList()) { @for (itemId of
      category.itemsIds; track itemId) {
      <app-shopping-list-item [itemId]="itemId" cdkDrag />
      } } @else {
      <div class="category-list-empty">Aucun élément</div>
      }
    </div>
  </mat-expansion-panel>
</mat-accordion>
