<div
  class="category-list-header"
  appLongPress
  (longPress)="startEdit()"
  (longPressEnd)="togglePanel($event)"
>
  <mat-icon
    class="open-state-indicator"
    [style.transform]="panelOpenState() ? 'rotate(90deg)' : ''"
    >keyboard_arrow_right</mat-icon
  >
  @if (editMode() && editLabel()) {
  <div class="category-list-header-label">
    <app-seamless-input-text
      keepFocus
      placeholder="Nom de la catégorie"
      [defaultValue]="editLabel()"
      (onValueChange)="editLabelChange($event)"
      (onBlur)="stopEdit()"
      (onEnter)="stopEdit()"
    />
  </div>
  <div>
    <button
      mat-icon-button
      aria-label="Valider l'édition"
      class="action"
      (click)="stopEdit()"
    >
      <mat-icon inline>check</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Supprimer"
      class="action action-remove"
      (click)="remove()"
    >
      <mat-icon inline>delete</mat-icon>
    </button>
  </div>
  } @else {
  <div class="category-list-header-label">
    {{ category.label }}
  </div>
  <div>
    <button
      mat-icon-button
      aria-label="Option de la catégorie"
      class="action"
      [disabled]="createItemSessionId()"
      (click)="$event.stopPropagation(); add()"
    >
      <mat-icon inline>add</mat-icon>
    </button>
  </div>
  }
</div>

<div class="category-list-body">
  <div
    cdkDropList
    #dropList="cdkDropList"
    [cdkDropListData]="category.itemsIds"
    [cdkDropListConnectedTo]="categoriesLists"
    class="category-list-body-droppable"
    [cdkDropListSortingDisabled]="isNullUUID()"
    (cdkDropListEntered)="cdkDropListEntered()"
    (cdkDropListExited)="cdkDropListExited()"
    (cdkDropListDropped)="drop($event)"
  >
    @if (panelOpenState()) { @if (category.itemsIds.length > 0 ||
    hoveringDropList() || createItemSessionId()) { @for (itemId of
    category.itemsIds; track itemId) {
    <app-shopping-list-item [itemId]="itemId" cdkDrag />
    } } @else {
    <div class="category-list-body-empty">Aucun élément</div>
    } @if (createItemSessionId()) {
    <app-shopping-list-item-add
      #itemAdd
      (onValidate)="createItem($event)"
      (onCancel)="cancelCreateItem()"
    />
    } }
  </div>
</div>
