<div class="item">
  <div class="item-handle">
    <mat-icon inline>edit</mat-icon>
  </div>

  <div class="item-content">
    <div class="item-edit">
      <app-seamless-input-text
        keepFocus
        placeholder="Nom de l'article"
        [defaultValue]="label()"
        (onValueChange)="editLabelChange($event)"
        (onBlur)="validate()"
        (onEnter)="validate()"
      />
    </div>
    <div class="item-actions">
      <button
        mat-icon-button
        aria-label="Valider l'ajout de l'article"
        (click)="validate()"
      >
        <mat-icon inline>check</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Annuler"
        (click)="cancel()"
        class="item-actions-cancel"
      >
        <mat-icon inline>close</mat-icon>
      </button>
    </div>
  </div>
</div>
